.modal{
    height:100vh;
    width: 100vw;
    position:absolute;
    z-index:100;
    background: rgba(0, 0, 0, 0.582);
}
/* popup */
.popup{
    position: absolute;
    width: 500px;
    height: 180px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.452);
    color: white;
    font-weight: 1000;
    outline: none;
    border: none;
    top:50%;
    left:50%;
    transform: translate(-50%, -125%);
    display:flex;
    flex-direction:column;
    /* background-image: url("../../public/images/train.gif"); */
    animation: drop 1.5s ease-out 1;
}
.popup > *{
    padding: 0 12px;
    display: flex;
    width: 100%;
}
.popupHeader{
    border-radius: 4px 4px 0 0;
    font-size: 18px;
    height: 25%;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}
.popupBody{
    padding-top:8px;
    font-size:20px;
    height:50%;
    justify-content:center;
    align-items: center;
}
.popupFooter{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 12px;
}
.popupButton{
    font-weight: 500;
    border-radius: 4px;
    align-self: flex-end;
    letter-spacing: 2px;
}
@keyframes drop {
    from {
        transform: translate(-50%, -500%);
    }

}