html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
button{
  border-radius: 4px;
  background: #f0f0f06b;
  padding: 1em;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
}
input{
  border-radius: 4px;
  background: #f0f0f06b;
  padding: 1em;
  color: white;
  outline: none;
  border: none;
}
button:hover,input:focus{
  background: #f0f0f0b9;
  transition:3s;
}
.zeroOpacity{
  opacity: 0;
  cursor:default;
}

.drop {
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(13, 52, 58, 1)), to(rgba(255, 255, 255, 0.5)));
  /* background: -moz-linear-gradient(top, rgba(13,52,58,1) 0%, rgba(255,255,255,.5) 100%); */
  width: 1px;
  height: 89px;
  position: absolute;
  bottom: 200px;
  z-index: 100;
  animation: fall .63s linear infinite;
  -webkit-animation: fall .63s linear infinite;
  -moz-animation: fall .63s linear infinite;
}
#Rain{
  position:absolute;
  left: 10%;
}
/* drop animation styles */
@-webkit-keyframes fall {
  to {
    margin-top: 900px;
  }
}

@-moz-keyframes fall {
  to {
    margin-top: 900px;
  }
}

@keyframes fall {
  to {
    margin-top: 900px;
  }
}