
.main {
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url(../public/fish-store.gif);
  background-repeat: no-repeat;
  background-size: cover;
}
/* .oceanbg{
  height: 100%;
  width: 100%;
} */
.video {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}
.marqueeContainer{
  justify-content: space-between;
  display: flex;
  width: 600px;
  overflow: hidden;
  text-align: center;
  color:white;
}
.marquee{
  z-index: 1;
  animation: run 7s infinite linear;
  font-style: italic;
}
.portal{
  border-radius:50%;
  color: white;
  width: 30px;
  border: 2px solid;
  background-image: linear-gradient(to right,#0d81a1, #073846, #041b22);
  animation: rotate 5s linear infinite;
}
.portal:last-child{
  z-index: 0;
  transform: rotate(180deg)
}
.portal::after{
  position: absolute;
  z-index: 10;
}
@keyframes run {
    0% {
      transform: translateX(400px)
    }
    100%{
      transform: translateX(-400px)
    }
}
