@font-face {
  font-family: 'Futura';
  src: url('../public/fonts/SFUFuturaLight.TTF');
  font-weight: 400;
  font-style: normal;
}
.fullOpacity{
  opacity: 1!important;
}
.blurOpacity{
  opacity: 0.3;
}

.main {
  position: relative;
  --componentSpacing: 20px;
  letter-spacing: 5px;
  font-family: Futura;
  color: white;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  /* flex-direction: column; */
  /* align-items: center; */
  justify-content: center;
  flex: 1;
  background-repeat: no-repeat;
  background-size: cover;
}
.homeGif{
  position: absolute;
  z-index:5;
}
.container{
  background-color: black;
  height: 100%;
  position: relative;
}
.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: white;
  opacity: 0.25;
}
.hidden {
  display: none !important;
}
.tabHidden{
  opacity: 0!important; 
  z-index: -1!important;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35%;
  height: 100%;
  /* justify-content: space-between; */
}
/* timeQuotes */
.timeQuotes{
  position: absolute;
  left: 5%;
}
.footer{
  position: absolute;
  bottom: 0;
}
/* tab */
.tabMusic {
  width:100%;
}
/* audio player */
.controllers{
  width: 100% !important;
  border: 12px solid rgba(255,255,255,0.25);
  border-radius:4px;
  min-height: 300px !important;
  transition: 3s;
}

/* playlist */
.playlistWrapper{
  width: 100%;
  margin-top: calc(var(--componentSpacing));
  transition: 3s;
  height: 100%;
}
.playlist{
  font-size:14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  min-height: 25%;
  max-height: 28%;
  padding-bottom: 20px;
}
.playlist > *{
  z-index:3;
}
.playlistLoading{
  min-height: 1.5em;
  background:gray;
  width: 80%;
  margin-left:2em;
  margin-right: 2em;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  border-radius: 1em;
}
.loadingPlaylist{
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.playlistLoading:nth-child(3){
  animation-delay: 1s;
}
.playlistitems {
  width: 100%;
  max-height: 100%;
  overflow-y: scroll;
  overflow-x:hidden;
}
.playlistitems::-webkit-scrollbar {
  width: 1px;
}
.playlistitems::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.playlistitems::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
.searchGroup{
  display:flex;
  align-items:center;
  justify-content: center;
  width:100%;
}
.ytSearchInput{
  margin-right:10px;
  width:55%;
}
.ytSearchInput::placeholder{
  color:rgba(255, 255, 255, 0.822);
}
.nowPlaying{
  font-style: italic;
}
.song{
  display:flex;
  position:relative;
  justify-content: flex-start;
  align-items: center;
}
.songListItem{
  width: 70%;
  margin-left:4em;
  margin-right: 2em;
}
.songName{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.songIcon{
  position:absolute;
  cursor:pointer;
  transition: 2s;
}
.songDeleteIcon{
  opacity: 0.3;
  position:absolute;
  cursor:pointer;
  transition: 2s;
  right: 0;
}
.songIcon:hover,.songDeleteIcon:hover{
  opacity:1;
}
.cancelButton{
  margin-left:1em;
}
/* background */
.background{
  height: 80px;
  width: 60px;
  display: flex;
  position: absolute;
  bottom:0;
  right:0;
}
.background:hover{
  width: 300px;
}
.background:hover>.backgroundImg{
  position: initial;
  margin-right:10px;
}
.backgroundImg{
  border: 1px solid;
  position: absolute;
  border-radius: 50%;
  cursor:pointer;
  height: 50px;
  width: 50px;
}

/* loading */
.rainWrapper{
  background: black;
  height:100vh;
  overflow:hidden;
  position:relative;
  color: white;
  display:flex;
  justify-content:center;
  align-items:center;
}
.loadingWrapper{
  display: flex;
  overflow:hidden;
  height: 150px;
}
.loadingText{
  margin-top:150px;
  padding: 0.5em;
  animation: loading 3s linear infinite;
  --delayInterval: 0.5s;
}
.loadingText:nth-child(2){
  animation-delay:calc(var(--delayInterval));
}
.loadingText:nth-child(3){
  animation-delay:calc(2*var(--delayInterval));
}
.loadingText:nth-child(4){
  animation-delay:calc(3*var(--delayInterval));
}
.loadingText:nth-child(5){
  animation-delay:calc(4*var(--delayInterval));
}
.loadingText:nth-child(6){
  animation-delay:calc(5*var(--delayInterval));
} 
.loadingText:nth-child(7){
  animation-delay:calc(6*var(--delayInterval));
}
.loadingText:nth-child(8){
  animation-delay:calc(7*var(--delayInterval));
}
.loadingText:nth-child(9){
  animation-delay:calc(8*var(--delayInterval));
}
.loadingText:nth-child(10){
  animation-delay:calc(9*var(--delayInterval));
} 

@keyframes loading {
  from{
    margin-top: -150px;
  }
  to{
    margin-top: 150px;
  }
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    font-size: 12px;
    width:100%
  }
  .blur{
    opacity:0;
  }
  .controllers{
    border-width:8px;
  }
  .main{
    --componentSpacing: 10px;
    letter-spacing:3px;
  }
  .songListItem{
    width: 70%;
    margin-left:2.7em;
    margin-right: 1em;
  }
  .playlistitems{
    width:100%;
  }
  .playlistitems>ol{
    padding:0 5px;
  }
  .timeQuotes{
    display:none;
  }
} 
