
@font-face {
  font-family: 'Futura';
  src: url('../public/fonts/SFUFuturaLight.TTF');
  font-weight: 400;
  font-style: normal;
}
.blur {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
  opacity: 0.25;
}
.hidden {
  display: none !important;
}
.main {
  position:relative;
  --componentSpacing: 20px;
  letter-spacing: 1px;
  font-family: Futura;
  color: white;
  background-color: black;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-repeat: no-repeat;
  background-size:cover;
}
.wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

/* audio player */
.controllers{
  aspect-ratio: 16/9;
  border: 1px solid #f0f0f0a4;
}

/* playlist */
.playlist{
  margin-top:var(--componentSpacing);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  max-height: 330px;
}
.playlist > *{
  z-index:3;
}
.playlistitems::-webkit-scrollbar {
  width: 1px;
}

.playlistitems::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.playlistitems::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
.playlistitems{
  width: 90%;
  max-height: 330px;
  overflow-y: scroll;
}
.playlistitems>ol>li{
  font-size: 24px;
}
.searchGroup{
  display:flex;
  align-items:center;
  justify-content: center;
  width:100%;
}
.ytSearchInput{
  margin-right:10px;
  width:55%;
}
.ytSearchInput::placeholder{
  color:rgba(255, 255, 255, 0.822);
}
.nowPlaying{
  font-style: italic;
}
.song{
  display:flex;
  position:relative;
  justify-content: flex-start;
  align-items: center;
}
.songListItem{
  width: 300px;
  margin-left:40px;
}
.songName{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.songIcon{
  position:absolute;
  cursor:pointer;
}
.songGif{
  height:80px!important;
  width: 80px!important;
}

/* background */
.background{
  height: 80px;
  width: 60px;
  display: flex;
  position: absolute;
  bottom:0;
  right:0;
}
.background:hover{
  width: 300px;
}
.background:hover>.backgroundImg{
  position: initial;
  margin-right:10px;
}
.backgroundImg{
  border: 1px solid;
  position: absolute;
  border-radius: 50%;
  cursor:pointer;
  height: 50px;
  width: 50px;
}


