
.main {
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.oceanbg{
  height: 100%;
  width: 100%;
}
.video {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
}
.marqueeContainer{
  margin: auto 0;
  width: 600px;
  overflow: hidden;
  text-align: center;
  color:white;
}
.marquee{
  animation: run 7s infinite linear;
}

@keyframes run {
    0% {
      transform: translateX(400px)
    }
    100%{
      transform: translateX(-400px)
    }
}